/**
 * Import 
 */
@import url('https://fonts.googleapis.com/css?family=Nunito')

/**
 * Local import
 */
@import '../../styles/reset'
@import '../../styles/vars'


#root
  color: #fff
  width: 50%
  margin: 0 auto
  font-family: 'Nunito', sans-serif

.app
  background-color: $app-bgcolor
