{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div id="root"></div>
<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}
