.signup-card

  div
    margin: 1em 3em

    input
      display: block
      padding-left: 1em
      padding-top: .5em

  .radio-group
    display: flex
    align_items: baseline

    .radioStyle
      width:  100px
      height: 30px
      line_height: 30px
