@import '../../styles/vars'

.nav
  background-color: $header-bgcolor
  color: #fff
  padding: 1em 0

  ul 
    display: flex
    justify-content: center
    justify-content: space-evenly

  &-activeLink
    color: red