@import '../../styles/vars'


.headerNav
  margin-bottom: 1em
  text-align: center
.ant-menu
  background-color: $header-bgcolor

.ant-menu-item .anticon
  margin-right: 0

.ant-menu-item a
  color: $header-textcolor

.ant-menu-item .anticon
  color: $btn-choice-left-bgcolor