@import '../../styles/vars'
.ant-tabs-tab
  color: $header-textcolor

.genderRadio
  color: $header-textcolor
 
.questionsAnswered
  display: flex
  flex-wrap: wrap

.ant-progress
  margin: 1em 0!important

.ant-progress-bg,
.ant-progress-success-bg
  height: 20px!important

.ant-progress-inner
  background-color: $btn-choice-right-bgcolor

.ant-progress-success-bg
  background-color: $btn-choice-left-bgcolor
  border-radius: 100px 0 0 100px!important